@media only screen and (min-width: 568px) and (max-width: 1023px) and (orientation: landscape) {

/* Seccion Cero (Hero) */
:root {
font-size: 10px;
}

main {
width: 100vw;
height: fit-content;
padding: 0 5vw 6vh 5vw;
overflow-x: hidden;
margin: 0;
}

.header {
height: 15vh;
}

.header__logo {
height: 70%;
}

.header__bar a {
    font-size: var(--fzaII);
    font-family: var(--button);
    margin-left: 1vw;
    letter-spacing: 0.05rem;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0%);
}

/* ------------------------------ */
.hero {
position: relative;
height: fit-content;
padding-top: 7vh;
}

.hero__btn {
display: flex;
flex-direction: row;
}

.hero__btn a {
font-size: var(--fzaII);
padding: 1rem 1.5rem;
margin-bottom: 2rem;
box-shadow: 4px 4px 10px #777;
text-align: center;
}
/* ------------------------------ */

.circle {
height: calc(85vw * 0.35);
width: 35%;
position: absolute;
right: -15%;
bottom: -5%;
display: flex;
justify-content: center;
align-items: center;
}

.circle img {
width: 70%;
height: 70%;
transform: rotate(-20deg);
}


/* Seccion Tres (Galeria) */
.Seccion_III__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 10rem 5rem;
    grid-template-areas: 
    "title title"
    "txt img"
    "btn btn";
    grid-gap: 2rem;
}

.Seccion_III__content h2 {
    margin-bottom: 0;
    align-self: center;
    justify-self: center;
}

.Seccion_III__content p {
    align-self: center;
}

.Seccion_III__content a {
    font-size: var(--fzaII);
    padding: 1rem 1.5rem;
}

.Seccion_III img {
    height: 75%;
    align-self: center;
}


/* Seccion Cuatro (Delivery) */
.Seccion_IV {
    padding: 6vh 7.5vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "title title"
    "txt bike";
}

.Seccion_IV h2 {
    margin-bottom: 3rem;
    justify-self: center;
}

.Seccion_IV p {
    margin-bottom: 3rem;
    align-self: center;
}

}

@media only screen and (min-width: 1024px) and (max-width: 1367px) and (orientation: landscape) {

:root {
    font-size: 15px;
}

main {
    width: 100vw;
    height: fit-content;
    padding: 0 5vw 6vh 5vw;
    overflow-x: hidden;
    margin: 0;
}

.header {
    height: 15vh;
}

.header__logo {
    height: 70%;
}

.header__bar a {
    font-family: var(--button);
    font-size: var(--fzaII);
    margin-left: 1vw;
    letter-spacing: 0.05rem;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0%);
}

/* ------------------------------ */
.hero {
    position: relative;
    height: fit-content;
    padding-top: 7vh;
}

.hero__btn {
    display: flex;
    flex-direction: row;
}

.hero__btn a {
    font-size: var(--fzaII);
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 10px #777;
    text-align: center;
}
/* ------------------------------ */

.circle {
    height: calc(85vw * 0.35);
    width: 35%;
    position: absolute;
    right: -15%;
    bottom: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    width: 70%;
    height: 70%;
    transform: rotate(-20deg);
}

/* Seccion Tres (Galeria) */
.Seccion_III__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 10rem 5rem;
    grid-template-areas: 
    "title title"
    "txt img"
    "btn btn";
    grid-gap: 2rem;
}

.Seccion_III__content h2 {
    margin-bottom: 0;
    align-self: center;
    justify-self: center;
}

.Seccion_III__content p {
    align-self: center;
}

.Seccion_III__content a {
    font-size: var(--fzaII);
    padding: 1rem 1.5rem;
}

.Seccion_III img {
    height: 75%;
    align-self: center;
}

/* Seccion Cuatro (Delivery) */
.Seccion_IV {
    padding: 6vh 7.5vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "title title"
    "txt bike";
}

.Seccion_IV h2 {
    margin-bottom: 3rem;
    justify-self: center;
}

.Seccion_IV p {
    margin-bottom: 3rem;
    align-self: center;
}



}
