@media only screen and (max-width: 480px) and (orientation: portrait) {

    /* Seccion Cero (Hero) */
    :root {
        font-size: 10px;
        --fzh1: 3rem;
        --fzh2: 2.5rem;
    }
    
    main {
        width: 100vw;
        height: fit-content;
        padding: 0 7.5vw 6vh 7.5vw;
        overflow-x: hidden;
        margin: 0;
    }
    
    .header {
        height: 10vh;
    }
    
    .header__logo {
        height: 70%;
    }
    
    .header__bar {
        display: none;
    }
    
    .menu_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4vh;
        width: 4vh;
        background-color: white;
        top: 2vh;
        right: 7.5vw;
        position: fixed;
        z-index: 3;
    }
    
    .menu_btn img {
        width: 75%;
    }
    
    .menu {
        display: flex;
    }
    /* ------------------------------ */
    .hero {
        position: relative;
        height: 50vh;
        padding-top: 10vh;
    }
    
    .hero__btn {
        display: flex;
        flex-direction: column;
    }
    
    .hero__btn a {
        font-size: var(--fzaII);
        padding: 1rem;
        margin-bottom: 2rem;
        box-shadow: 4px 4px 10px #777;
        text-align: center;
    }
    /* ------------------------------ */
    .circle {
        height: calc(85vw * 0.6);
        width: 60%;
        position: absolute;
        right: -25%;
        bottom: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .circle img {
        width: 70%;
        height: 70%;
        transform: rotate(-20deg);
    }
    
    
    
    /* Seccion Uno (About) */
    .Seccion_I {
        padding: 6vh 7.5vw;
        grid-template-areas: 
        "title"
        "txt";
        grid-template-columns: 1fr;
    }
    
    .Seccion_I h1 {
            font-size: var(--fzh2);
    }
    
    /* Seccion Dos (Productos) */
    
    .Seccion_II {
        grid-template-areas: 
        "title"
        "txt";
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr;
    }
    
    .Seccion_II--txt a {
        font-size: var(--fzaII);
        padding: 1rem 1.5rem;
    }
    
    
    /* Seccion Tres (Galeria) */
    .Seccion_III__content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5rem 10rem 5rem;
        grid-template-areas: 
        "title title"
        "txt img"
        "btn btn";
        grid-gap: 2rem;
    }
    
    .Seccion_III__content h2 {
        margin-bottom: 0;
        align-self: center;
        justify-self: center;
    }
    
    .Seccion_III__content p {
        align-self: center;
    }
    
    .Seccion_III__content a {
        font-size: var(--fzaII);
        padding: 1rem 1.5rem;
    }
    
    .Seccion_III img {
        height: 75%;
        align-self: center;
    }
    
    
    
    /* Seccion Cuatro (Delivery) */
    .Seccion_IV {
        padding: 6vh 7.5vw;
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-template-areas:
        "title"
        "txt"
        "bike";
    }
    
    .Seccion_IV h2 {
        margin-bottom: 3rem;
        justify-self: center;
    }
    
    .Seccion_IV p {
            margin-bottom: 3rem;
    }
    
    /* Seccion Cinco (Contacto) */
    .Seccion_V {
        position: relative;
        padding: 7vh 7.5vw;
        padding-bottom: calc(3vw + 4rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(254,183,72);
        background: linear-gradient(137deg, rgba(254,183,72,1) 3%, rgba(254,201,118,1) 51%, rgba(255,219,164,1) 100%);
    }
    
    .Seccion_V h1 {
        font-family: var(--title);
        font-size: var(--fzh1);
        font-weight: 100;
        text-align: center;
    }
    
    .Seccion_V__content {
        padding-top: 5%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "inst"
        "whats"
        "mail";
        justify-items: center;
        grid-gap: 2rem;
        margin-bottom: 2rem;
    }
    
    .Seccion_V__card {
        width: 50%;
        height: 100%;
        box-shadow: 6px 6px 10px #555;
        background-color: white;
    }
    
    .Seccion_V__card p {
        font-family: var(--button);
        font-size: 100%;
        font-weight: 200;
        text-align: center;
        user-select: text;
    }
    
    .Seccion_V__card div {
        padding: 4rem;
        display: flex;
        border-top: 2px solid white;
        background-color: var(--colorI);
        z-index: 2;
    }
    
    .Seccion_V__card a {
        display: inline-block;
        height: 5.2rem;
        width: 5.2rem;
        z-index: 3;
    }
    
    .Seccion_V__card span {
        color: white;
        font-size: 2rem;
    }
    
    
    /* Seccion Footer */
    footer a {
            font-size: var(--fzp);
    }
}
    
@media only screen and (min-width: 480px) and (max-width: 1024px) and (orientation: portrait) {
    
    /* Seccion Cero (Hero) */
    :root {
    font-size: 15px;
    }
    
    main {
        width: 100vw;
        height: fit-content;
        padding: 0 7.5vw 6vh 7.5vw;
        overflow-x: hidden;
        margin: 0;
    }
    
    .header {
        height: 10vh;
    }
    
    .header__logo {
        height: 70%;
    }
    
    .header__bar {
        display: none;
    }
    
    .menu_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4vh;
        width: 4vh;
        background-color: white;
        top: 2vh;
        right: 7.5vw;
        position: fixed;
        z-index: 3;
    }
    
    .menu_btn img {
        width: 75%;
    }
    
    .menu {
        display: flex;
    }
    /* ------------------------------ */
    .hero {
        position: relative;
        height: 50vh;
        padding-top: 10vh;
    }
    
    .hero__btn {
        display: flex;
        flex-direction: row;
    }
    
    .hero__btn a {
        font-size: var(--fzaII);
        padding: 1rem;
        margin-bottom: 2rem;
        box-shadow: 4px 4px 10px #777;
        text-align: center;
    }
    /* ------------------------------ */
    .circle {
        height: calc(85vw * 0.6);
        width: 60%;
        position: absolute;
        right: -25%;
        bottom: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .circle img {
        width: 70%;
        height: 70%;
        transform: rotate(-20deg);
    }
    
    
    /* Seccion Tres (Galeria) */
    .Seccion_III__content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5rem 10rem 5rem;
        grid-template-areas: 
        "title title"
        "txt img"
        "btn btn";
        grid-gap: 2rem;
    }
    
    .Seccion_III__content h2 {
        margin-bottom: 0;
        align-self: center;
        justify-self: center;
    }
    
    .Seccion_III__content p {
        align-self: center;
    }
    
    .Seccion_III__content a {
        font-size: var(--fzaII);
        padding: 1rem 1.5rem;
    }
    
    .Seccion_III img {
        height: 75%;
        align-self: center;
    }
    
    /* Seccion Cuatro (Delivery) */
    .Seccion_IV {
        padding: 6vh 7.5vw;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "title title"
        "txt bike";
    }
    
    .Seccion_IV h2 {
        margin-bottom: 3rem;
        justify-self: center;
    }
    
    .Seccion_IV p {
        margin-bottom: 0;
        align-self: center;
    }
    
    /* Seccion Cinco (Contacto) */
    .Seccion_V {
        position: relative;
        padding: 7vh 7.5vw;
        padding-bottom: calc(3vw + 4rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(254,183,72);
        background: linear-gradient(137deg, rgba(254,183,72,1) 3%, rgba(254,201,118,1) 51%, rgba(255,219,164,1) 100%);
    }
    
    .Seccion_V h1 {
        font-family: var(--title);
        font-size: var(--fzh1);
        font-weight: 100;
        text-align: center;
    }
    
    .Seccion_V__content {
        padding-top: 5%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "inst"
        "whats"
        "mail";
        justify-items: center;
        grid-gap: 2rem;
        margin-bottom: 2rem;
    }
    
    .Seccion_V__card {
        width: 50%;
        height: 100%;
        box-shadow: 6px 6px 10px #555;
        background-color: white;
    }
    
    .Seccion_V__card p {
        font-family: var(--button);
        font-size: 100%;
        font-weight: 200;
        text-align: center;
        user-select: text;
    }
    
    .Seccion_V__card div {
        padding: 4rem;
        display: flex;
        border-top: 2px solid white;
        background-color: var(--colorI);
        z-index: 2;
    }
    
    .Seccion_V__card a {
        display: inline-block;
        height: 5.2rem;
        width: 5.2rem;
        z-index: 3;
    }
    
    .Seccion_V__card span {
        color: white;
        font-size: 2rem;
    }
    
    
}
    