@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

@font-face {
    src: url(../font/AmsterdamOne.ttf);
    font-family: 'pelleite';
}

:root {
    --title: 'pelleite', cursive;
    --txt: 'Antonio', sans-serif;
    --button: 'Antonio', sans-serif;
    --colorI: #feb748;
    --fzh1: 2.5rem;
    --fzh2: 2rem;
    --fzp: 1.5rem;
    --fza: 1rem;
    --fzaII: 1.5rem;
    font-size: 25px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    user-select: none;
    width: 100vw;
}



/* Seccion Cero (Hero) */
main {
    width: 100vw;
    height: fit-content;
    padding: 0 7.5vw 10vh 7.5vw;
    overflow: hidden;
    position: relative;
}

.header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.header__logo {
    height: 90%;
}

.header__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 65%;
}

.header__bar a {
    font-size: var(--fza);
    font-family: var(--button);
    white-space: nowrap;
    color: black;
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0%);
}

.header__bar a:hover {
    border: 1px solid var(--colorI);
}

/* ---------------------------- */

.menu_btn {
    display: none;
    z-index: 10;
}

.menu_btn-img {
    width: 75%;
    height: 70%;
    background-image: url(../icon/Menu.svg);
    background-size: cover;
    background-position: center;
    z-index: 10;
}

.act {
    background-image: url(../icon/Close.svg);
    background-size: cover;
    background-position: center;
    width: 75%;
    height: 70%;
    z-index: 10;
}

.menu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 60vw;
    height: 100vh;
    background-color: var(--colorI);
    padding-top: 10vh;
    padding-left: 5%;

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    z-index: 2;
}

.menu a {
    font-family: var(--txt);
    color: white;
    font-size: var(--fzp);
    margin-bottom: 2.5rem;
    text-decoration: none;
    border-top: 2px solid white;
    width: 100%;
}

.act_2 {
    left: 40%;
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}


/* ------------------------------ */

.hero {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15vh;
}

.hero__title {
    font-family: var(--title);
    font-size: var(--fzh1);
    color: black;
    font-weight: 100;
}

.hero__txt {
    font-family: var(--button);
    font-size: var(--fzp);
    margin-bottom: 5%;
    color: black;
}

.hero__btn a {
    font-family: var(--button);
    color: black;
    font-size: var(--fza);
    padding: 12px 20px;
    text-decoration: none;
    border: 2px solid var(--colorI);
    margin-right: 2rem;
    background-color: rgba(255, 255, 255, 0%);
    box-shadow: 2px 2px 10px #777;
    font-weight: 500;
    display: inline-block;
}

.hero__btn a:hover {
    transform: scale(1.1);
}

/* ------------------------------ */

.circle {
    height: 70vh;
    width: 70vh;
    background-color: var(--colorI);
    border-radius: 100%;
    position: absolute;
    right: -10%;
    bottom: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img {
    width: 45vh;
    height: 45vh;
    transform: rotate(-25deg);
}



/* Seccion Uno (About) */
.Seccion_I {
    width: 100%;
    height: fit-content;
    padding: 7vh 7.5vw;
    display: grid;
    align-items: center;
    grid-template-areas: "title txt";
    grid-template-columns: 1fr 1fr;
    background: rgb(254,183,72);
    background: linear-gradient(137deg, rgba(254,183,72,1) 3%, rgba(254,201,118,1) 51%, rgba(255,219,164,1) 100%);
}

.Seccion_I h1 {
    grid-area: title;
    font-family: var(--title);
    text-align: start;
    font-size: var(--fzh2);
    font-weight: 100;
}

.Seccion_I p {
    grid-area: txt;
    font-family: var(--txt);
    font-size: var(--fzp);
    letter-spacing: 0.05rem;
    font-weight: 200;
}



/* Seccion Dos (Productos) */
.Seccion_II {
    width: 100%;
    height: fit-content;
    padding: 7vh 7.5vw;
    display: grid;
    align-items: center;
    grid-template-areas: "title txt";
    grid-template-columns: 1fr 1fr;
}

.Seccion_II h2 {
    font-family: var(--title);
    font-size: var(--fzh2);
    font-weight: 100;
    grid-area: title;
    text-align: start;
}

.Seccion_II--txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: txt;
}

.Seccion_II--txt p {
    font-family: var(--txt);
    font-size: var(--fzp);
    margin-bottom: 5vh;
    letter-spacing: 0.05rem;
    font-weight: 200;
}

.Seccion_II--txt a {
    font-family: var(--button);
    color: black;
    font-size: var(--fza);
    padding: 12px 20px;
    text-decoration: none;
    border: 2px solid var(--colorI);
    margin-right: 2rem;
    background-color: rgba(255, 255, 255, 0%);
    box-shadow: 2px 2px 10px #777;
    font-weight: 500;
    align-self: flex-start;
    display: inline-block;
}

.Seccion_II--txt a:hover {
    transform: scale(1.1);
}



/* Seccion Tres (Galeria) */
.Seccion_III {
    padding: 7vh 7.5vw;
    background: rgb(254,183,72);
    background: linear-gradient(137deg, rgba(254,183,72,1) 3%, rgba(254,201,118,1) 51%, rgba(255,219,164,1) 100%);
}

.Seccion_III__content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.25fr;
    grid-template-areas: 
    "title title"
    "txt img"
    "vacio btn";
}

.Seccion_III__content h2 {
    font-family: var(--title);
    font-size: var(--fzh2);
    font-weight: 100;
    grid-area: title;
    margin-bottom: 15vh;
    align-self: center;
    justify-self: center;
}

.Seccion_III__content p {
    font-family: var(--txt);
    font-size: var(--fzp);
    grid-area: txt;
    font-weight: 200;
}

.Seccion_III img {
    height: 95%;
    grid-area: img;
    justify-self: center;
}

.Seccion_III__content a {
    font-family: var(--button);
    color: black;
    font-size: var(--fza);
    padding: 12px 20px;
    text-decoration: none;
    border: 2px solid var(--colorI);
    margin-right: 2rem;
    background-color: rgba(255, 255, 255, 100%);
    box-shadow: 2px 2px 10px #777;
    font-weight: 500;
    align-self: flex-start;
    display: inline-block;
    grid-area: btn;
    align-self: flex-end;
    justify-self: center;
    z-index: 1;
}

.Seccion_III__content a:hover {
    transform: scale(1.1);
}



/* Seccion Cuatro (Delivery) */
.Seccion_IV {
    padding: 7vh 7.5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "title bike"
    "txt bike";
}

.Seccion_IV h2 {
    font-family: var(--title);
    font-size: var(--fzh2);
    font-weight: 100;
    grid-area: title;
    margin-bottom: 15vh;
    justify-self: flex-start;
}

.Seccion_IV p {
    font-family: var(--txt);
    font-size: var(--fzp);
    font-weight: 200;
    grid-area: txt;
}

.Seccion_IV img {
    width: 100%;
    grid-area: bike;
    align-self: center;
    justify-self: center;
}



/* Seccion Cinco (Contacto) */
.Seccion_V {
    position: relative;
    padding: 7vh 7.5vw;
    padding-bottom: calc(3vw + 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    background: rgb(254,183,72);
    background: linear-gradient(137deg, rgba(254,183,72,1) 3%, rgba(254,201,118,1) 51%, rgba(255,219,164,1) 100%);
}

.Seccion_V h1 {
    font-family: var(--title);
    font-size: var(--fzh1);
    font-weight: 100;
    text-align: center;
}

.Seccion_V__content {
    padding-top: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "inst whats mail";
}

.Seccion_V__card {
    width: 90%;
    height: 100%;
    box-shadow: 6px 6px 10px #888;
    background-color: white;
}

.Seccion_V__card p {
    font-family: var(--button);
    font-size: 1.3rem;
    font-weight: 200;
    text-align: center;
    user-select: text;
}

.Seccion_V__card div {
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid white;
    background-color: var(--colorI);
    z-index: 2;
}

.Seccion_V__card a {
    width: 2rem;
    height: 2rem;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Seccion_V__card span {
    color: white;
    font-size: 2rem;
}


/* Seccion Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    padding: 2vh;
    font-family: var(--txt);
    font-size: var(--fza);
    text-decoration: none;
    color: black;
}